header {
  font-weight:bold;
  font-family: "sans";
  color: white;
  background-color: rgb(129, 212, 250);
  padding: 2.5rem;
}
h2{
  color: White;
  background-color: rgb(207, 216, 220);
  padding: 1rem;
}
body{
  box-sizing: content-box;
  width: 100%;
  padding: 10px;
  border: 10px;
  margin: 0;
  background-color: white;
  }
.one{
box-sizing:	content-box;
width: 100%;
padding: 10px;
border: 10px;
margin: 0;
font-family: "sans";
background-color: white;
}
.two {
box-sizing:	content-box;
float: left;
width: 100%;
padding: 5px;
border: 5px;
margin: 0px;
font-family: "sans";
background-color: white;
}
.section1{
  position: relative;
  width: 45%;
  border:	2.5px;
  margin:	0;
  font-family: "sans";
  color: #474747;
  background-color: white;
}
aside{
  position: relative;
  width:	40%;
  left: 50%;
  border:	2.5px;
  margin:	0;
  font-family: "sans";
  color: #474747;
  background-color: white;
}
.footerdiv{
  box-sizing: content-box;
  position: inherit;
  bottom: -19px;
  width: 100%;
  padding: 30px;
  border: 30px;
  margin:0;
  font-family: "sans";
  color: white;
  background-color: #474747;
}
  img {
    box-sizing: content-box;
    position: inherit;
    padding: 5px;
    border: 5px;
    margin: 0;
  }
.special-text {
font-family: "sans";
color: rgb(129, 212, 250);
}
.larger-blue-font {
  box-sizing: content-box;
  position: inherit;
  padding: 5px;
  border: 5px;
  font-family: "sans";
  font-weight: bold;
  font-size: 22px;
  color: rgb(129, 212, 250);
}
.italic-blue-font {
  box-sizing: content-box;
  position: inherit;
  padding: 5px;
  border: 5px;
  font-family: "sans";
  font-style: italic;
  font-size: 22px;
  color: rgb(129, 212, 250);
}
.article-header {
  box-sizing: content-box;
  position: inherit;
  padding: 5px;
  border: 5px;
  font-family: "sans";
  font-weight: bold;
  font-size: 18px;
  color: #474747
}
